{%- assign uid = 'influencer--' | append: product.id -%}

{%- for variant in product.variants -%}
  {%- assign productHasInfluencer = variant.metafields.custom.influencer_block.value -%}
  {%- if productHasInfluencer -%}{% break %}{%- endif -%}
{%- endfor -%}

{%- unless productHasInfluencer -%}
  {%- if request.design_mode -%}
    <div style="display: flex; min-height: 200px; justify-content: center; align-items: center; flex-direction: column; border: 1px dashed gray;">
      <p>To use this section, please assign <strong>influencer_block metafield</strong> to atleast one variant of this product and then refresh this page.</p>
    </div>
  {%- endif -%}
{%- endunless -%}

{% if productHasInfluencer %}
  {%- assign influencer = product.selected_variant.metafields.custom.influencer_block.value -%}
  <div id="{{ uid }}">
    {%- if influencer -%}
      <div class="grid">
        <div class="image">
          {%- assign altText = product.title | append: ' - Influencer' -%}
          {{ influencer.main_image |
          image_url: width: 800 |
          image_tag: alt: altText  }}
        </div>
        <div class="content">
          {{ influencer.testimonial | metafield_tag }}
        </div>
      </div>
    {%- endif -%}
  </div>

  <script defer>
    window.addEventListener('variant:change', () => {
      const url = new URL(window.location);
      url.searchParams.append('section_id', 'product-influencer');
      const urlString = url.toString();

      console.log('variant changed', urlString);
      fetchInfluencerSeaction(urlString);
    });

    async function fetchInfluencerSeaction(variantUrl) {
      let response = await fetch(variantUrl);
      if (!response.ok) throw new Error(response.status);

      let text = await response.text();
      let htmlMarkup = new DOMParser()
        .parseFromString(text, 'text/html')
        .querySelector('#shopify-section-product-influencer').innerHTML;

      let influencerBlock = document.querySelector('#{{ uid }}');
      influencerBlock.innerHTML = htmlMarkup;
    }
  </script>

  <style>
    #{{ uid }} {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #{{ uid }} .grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
      gap: 0;
    }
    #{{ uid }} .grid .image {
      display: grid;
    }
    #{{ uid }} .grid img {
      width: 100%;
      height: auto;
    }
    #{{ uid }} .grid .content {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      padding: 50px;
      background-color: black;
      color: white;
    }
  </style>
{% endif %}
