{%- for option in product.metafields.options -%}
  {% assign name = option[0] %}
  {% assign values = option[1] | remove: '[' | remove: ']' | remove: '"' | split: ","   %}
  <div class="product-form__input product-form__input--dropdown">
    <label class="form__label" for="option-{{ name }}">
      {{ name }}
    </label>
    <div class="select">
      <select
        id="option-{{ name }}"
        class="select__select"
        name="{{ name | escape }}"
      >
        {% for value in values %}
          <option value="{{ value }}">{{ value }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
{%- endfor -%}

<hr>
<p>{{ collections[product.metafields.family.collection] }}</p>
<hr>


<script defer>
  (()=>{
  
    let selectedProduct = {};
  
    document.querySelectorAll("select[id^='option-']").forEach(option => {
      option.addEventListener('change', async (e) => {
        let selectedHandle = getSelectedHandle()
        console.log({selectedHandle, productId})
        await fetchProduct(selectedHandle)
        console.log({selectedProduct})
      })
    })
    
    function getSelectedHandle() {
      return Array.from(document.querySelectorAll("select[id^='option-']")).map(option => option.value).join("_")
    }
    
    async function fetchProduct(product_handle) {
      try {
        let response = await fetch(`https://${window.Shopify.shop}/products/${product_handle}.js`);
        let product = await response.json();
        selectedProduct = product;
      } catch (err) {
        console.error('error:' + err);
      }
    }

    
    function getProductIdFromHandle(selectedHandle) {
      let products = [
        {%- for product in collections[product.metafields.family.collection].products -%} 
          [ "{{ product.handle }}", {{ product.id }} ] {%- unless forloop.last -%},{%- endunless -%}
        {%- endfor -%}
      ];
      let foundHandle = products.find(([handle, id]) => handle == selectedHandle)
      if(!foundHandle) throw new Error(`Handle does not match: "${selectedHandle}"`)

      return foundHandle[1]
    }
  })()
</script>
